html {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-family: "Noto Sans Japanese", sans-serif;
}

h3 {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e2e2e2;
}

section {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e2e2e2;
}

footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e2e2e2;
}

.btn-ghost {
  border-color: #8bc9d9;
  border-width: 2px;
}

.btn {
  color: #005e76;
}

.btn:hover {
  color: #005e76;
  background-color: #8bc9d9;
  border-color: #0084a6;
}

a {
  color: #0084a6;
  text-decoration: underline;
  text-decoration-color: #8bc9d9;
}

a:hover {
  color: #005e76;
  text-decoration: underline;
  text-decoration-color: #0084a6;
}
